<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <section class="content-form">
                <form action="POST" action="" class="register-sesion">
                    
                        <h1 class="referent">Iniciar sesion</h1>
                    
                    <section class="register-sesion">
                        <label for="">email</label>
                        <input type="email">

                        <label for="">contraseña</label>
                        <input type="password">
                    </section>

                    <a href="/register">registrarse</a>


                    <button>enviar</button>
                </form>
            </section>


            <%- include('partials/footer') %>
    </body>

</html>